body {
    overflow-x: hidden;
    /* background-color: rgb(77, 115, 167); */
    background-color: rgba(244, 162, 97, 0.9);
    /*coral suave*/
    background-color: rgba(61, 90, 128, 0.9);
    /* background-color: rgba(153, 210, 202, 0.9); */
    /*arena clara*/

}

/* -----------header-menu -------------*/
html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Trade Gothic LT";
    src: url("fonts/TradeGothicLT.woff2") format("woff2"),
        url("fonts/TradeGothicLT.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/** font cursiva*/

.st-main {
    background-image: url(../../images-videos/fondoMarino2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/** stilo de letra del menu-nav*/
.st-font {
    font-family: "Imperial Script", cursive;
}

/* ---------main-el-huarique------- */
/* .main-figure-yio{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
#h-video {
    /* height: calc(100vh - 98px);(header-noFixed) */
    height: calc(100vh);
    object-fit: cover;
}

/* el -------quienes somos-huarique-------- */

.bg-image-huarique {
    background-image: url('../../images-videos/mesa-rustica.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* max-height: 414px; */
    max-height: 414px;
    /* height: 100%; */
}


/** div opacidad(bck-image)*/
.capa-opaca {
    background-color: rgba(0, 0, 0, 0.6);
    /* position: absolute; */
    height: 100%;

    top: 0;
    bottom: 0;
}

.bg-image-huarique h2 {
    color: whitesmoke;
    font-family: "Imperial Script", cursive;
    font-weight: 700;
}

.bg-image-huarique p {
    font-size: 1.5rem;
    color: whitesmoke;
    font-family: "Imperial Script", cursive;
    font-weight: 400;
    text-align: justify;
    padding: 0 .5rem;
}

.bg-image-huarique .separador {
    background-color: rgb(77, 115, 167);
}

/* --------SECCION RESERVA-UBICACION------- */

.st-reserva {
    display: flex;
    flex-direction: row;
    /* align-items: stretch; */
    height: 300px;
    /* align-items: center; */
    justify-content: center;
    /* width: 100%; */
    padding: 0;
}

/** stilo de texto reserva en menu-nav*/
.st-nav-reserva {
    border-radius: 10px;
    padding: 0;
}

/* --------img-background-formulario(div-padre)------- */
.bg-image-form {
    position: relative;
    background-image: url('../../images-videos/mesa-pequeá.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*----------- titulo-formulario ----------*/
.st-h3 {
    font-family: "Imperial Script", cursive;
    font-weight: 700;
    background-color: rgb(77, 115, 167);
    color: blanchedalmond;
    padding: 0 .3rem;
    /* animation: salto 2s infinite ease-in-out; */
    animation: salto 3s ease-in-out infinite;
}

/* ----fondo(backgraund) de form----- */
.st-formulario {
    /* width: 95%; */
    background-color: rgba(77, 115, 167, 0.8);
}

/* --------agregar mapa(CSS)-seccion2------- */
.st-reserva .map {
    flex-grow: 1;
    width: 100%;
    height: 100%;

    border: 2px solid blue;
    /* margin: auto;
    height: 100%;width: 100%;
    /* width: 400px; */
    /* object-fit: cover; */
    /* min-width: 360px; */
    /* min-width: 360px;
    max-width: 450px;   */
}

/* ------seccion3-url-img------ */
.st-reserva-s3 {
    background-image: url("../../images-videos/Pisco-Sour.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 7px;
}

/** texto */
.div-opaco {
    background-color: rgba(77, 115, 167, 0.5);
    position: relative;
    width: 100%;
    right: 0;
    left: 0;
}

.st-reserva-s3 h1 {
    color: rgb(57, 83, 118);
    text-align: center;
    font-family: "Imperial Script", cursive;
    text-shadow: 3px 3px 4px rgba(255, 255, 255, 0.8);
}

.st-reserva-s3 h1 span,
.st-reserva-s3 h3 span {
    text-shadow: none;
    text-shadow: 3px 3px 4px rgb(0, 0, 0);

}

.st-reserva-s3 h3 {
    color: rgb(57, 83, 118);
    text-shadow: 3px 3px 4px rgba(255, 255, 255, 0.8);

}

.st-reserva-s3 span {
    font-size: 1.6rem;
    text-align: center;
    font-family: "Imperial Script", cursive;
    color: whitesmoke
}

/* ----------NUESTRO EQUIPO-------- */
/* -------imagen-chef----- */
.bg-image {
    background-image: url('../../images-videos/chefs-cocina.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.bg-cont {

    background-color: rgba(77, 115, 167, 0.8);
    min-height: 550px;
    max-width: 450px;
}

.bg-cont h2 {
    text-align: justify;
    padding: 0 .5rem;
    font-family: "Imperial Script", cursive;
    font-weight: 700;
}

.bg-cont p {
    text-align: justify;
    padding: 0 .5rem;
    font-family: "Imperial Script", cursive;
    font-weight: 400;
    font-size: 1.5rem;
}

/*seccion-menu-imagenes*/
.menu-img {
    height: 100vh;
    width: 100%;
    background-image: url('../../images-videos/img-ajies.jpg');
    /* Reemplaza con tu imagen */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    /*evita el desborde de altura*/
}

/* altura  del texto-menu-opacidad */
.div-opacity {
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
}

.div-opacity h3 {
    text-align: center;
}

/* textos del menu */

.texto {
    /* opacity: 0; */
    transform: translateY(400px);
    transition: all 1.5s ease-out;
    font-family: "Imperial Script", cursive;
    font-size: 3rem;
    position: absolute;
    top: 60px;
    /* color: rgba(77, 115, 167, 0.8); */
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    ;
}

/* Cuando entra al viewport, se activa */
.texto.visible,
.texto2.visible,
.div-carousel-wrapper.visible {
    opacity: 1;
    transform: translateY(0);
}

.texto2 {
    transform: translateY(450px);
    transition: all 1.5s ease-out;
    font-family: "Imperial Script", cursive;
    font-size: 3rem;
    position: absolute;
    top: 100px;
    color: rgba(61, 90, 128, 0.9);
    text-shadow: 2px 2px 4px rgba(61, 90, 128, 0.9);
}

/* contenedor de texto del menu */
.cont-texto {
    height: 30vh;
    overflow: hidden;
}

/* contenedor del carrousel */
.div-carousel-wrapper {
    width: 50vw;
    height: 420px;
    transform: translateY(100%);
    transition: all 1.5s ease-out;
    /* position: absolute; */
    top: 180px;
    /* overflow: hidden; */
}

.div-carousel-fade {
    text-align: center;
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
}

.div-carousel-fade img {
    max-height: 450px;
    object-fit: cover;
    width: 100%;
    /* display: block; */
}

/* div aislante(evitar conflictos con animaciones de botstrap) */
.div-aislante {
    width: 100%;
}

/* modificacion de tiempo de desvanecimiento de la clase bootstrap */
.carousel.carousel-fade .carousel-item {
    transition: opacity 1.5s ease-in-out;
}

/**link a los menus*/
.div-carousel-fade .link-platos {
    color: whitesmoke !important;
    background-color: rgba(61, 90, 128, 0.9);
    font-size: 1.5rem;
    /* padding: .2rem; */
    /* position: relative; */
    font-family: "Imperial Script", cursive;
    text-decoration: none;
    margin-top: 2rem;
    transition: all .5s ease-in-out;
    border-radius: 5px;
}

.div-carousel-fade .link-platos:hover {
    background-color: rgba(38, 54, 73, 0.9);
    transform: scale(1.05);
}

/** *Estilos del FOOTER */

.st-footer {
    height: 60vh;
    background-image: url("../../images-videos/mesa-rustica.jpg");
    background-size: cover;
    /* Muestra la imagen completa */
    background-attachment: fixed;
    /* (opcional) efecto parallax */
    position: relative;
}

/** * div-capa traslúcida */
.div-opacidad {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

/** * figure telefono*/
.div-opacidad figure {
    max-width: 50px;
    margin: auto;
}

/** * subtitulo h2*/
.div-opacidad h2 {
    text-align: center;
    font-size: 3rem;
    color: whitesmoke;
    font-family: 'Berkshire Swash', handwriting;
    letter-spacing: 2px;
    font-weight: 600;
}

/* * iconos*/
.div-opacidad .iconos {
    width: 15%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.div-opacidad .iconos a {
    text-decoration: none;
    background-color: rgb(245, 118, 14);
    color: white;
    padding: 10px;
    border-radius: 50%;
    font-size: 3rem;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    transition: background-color .4s ease-in-out;
}

.div-opacidad .iconos a:hover {
    background-color: black;
}

/** lista*/
.div-opacidad ul {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
}

.div-opacidad ul li {
    list-style: none;
    font-size: 1rem;
    color: whitesmoke;
    cursor: pointer;
}

/** media querys*/

@media (max-width:920px) {
    .div-carousel-wrapper {
        width: 80vw;
        top: 100px;
        position: relative;
        align-items: center;
    }

    .st-font {
        width: 100% !important;
    }
}

@media (max-width:500px) {

    .div-carousel-wrapper {
        width: 100%;
    }

    .div-carousel-fade .link-platos {
        margin-top: 0;
    }

    .st-footer {
        height: 60vh;
    }

    .div-opacidad .iconos {
        width: 50%;
    }

    .div-opacidad ul {
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin-top: 1rem;
    }
}